body {
  background-image: url("FEMALE-RUNNING.jpg");
  background-size: 100%
}

.container {
  height: 400px;
  width: 450px;
  margin-top: 200px;
  margin-left: 300px;
  background: gray;
}

.entry{
  height: 40px;
  width: 200px;
  border-radius: 20px;
  margin: 50px;
}

#containerHeader {
  text-align: center;
}

