body {
  background-image: url("FEMALE-RUNNING.jpg");
  background-size: 100%
}

.container {
  height: 400px;
  width: 400px;
  margin-top: 200px;
  margin-left: 300px;
  border-radius: 10px;
  background: white;
  opacity: 0.8;
}

.entry{
  height: 40px;
  width: 200px;
  border-radius: 20px;
  margin-left: 100px;
  text-align: center;
}

#containerHeader {
  color: #00abe7;
  padding: 20px;
  text-align: center;
  font-family: sans-serif; /*Arial, Helvetica, sans-serif;*/
}

.listHeaders {
  margin-top :25px;
}

#foodName {
  margin: 0px 80px 0px 20px;

}

#calories {

}
